# compiled output
/dist
/node_modules

# table data
/pgdata

# prisma
prisma/schema.prisma

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDE
/.idea

.env